[Desktop Entry]
Name[af]=Dokumentbekyker (AppJail:%%PROFILE%%)
Name[an]=Visualizador de documentos (AppJail:%%PROFILE%%)
Name[ar]=عارض المستندات (AppJail:%%PROFILE%%)
Name[as]=দস্তাবেজ প্ৰদৰ্শক (AppJail:%%PROFILE%%)
Name[ast]=Visor de Documentos (AppJail:%%PROFILE%%)
Name[be]=Праглядальнік дакументаў (AppJail:%%PROFILE%%)
Name[be@latin]=Ahladalnik dakumentaŭ (AppJail:%%PROFILE%%)
Name[bg]=Преглед на документи (AppJail:%%PROFILE%%)
Name[bn]=নথি প্রদর্শক (AppJail:%%PROFILE%%)
Name[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা (AppJail:%%PROFILE%%)
Name[br]=Lenner teulioù (AppJail:%%PROFILE%%)
Name[bs]=Pregledač dokumenta (AppJail:%%PROFILE%%)
Name[ca]=Visualitzador de documents (AppJail:%%PROFILE%%)
Name[ca@valencia]=Visualitzador de documents (AppJail:%%PROFILE%%)
Name[cs]=Prohlížeč dokumentů (AppJail:%%PROFILE%%)
Name[cy]=Gwelydd Dogfennau (AppJail:%%PROFILE%%)
Name[da]=Dokumentfremviser (AppJail:%%PROFILE%%)
Name[de]=Dokumentenbetrachter (AppJail:%%PROFILE%%)
Name[dz]=ཡིག་ཆ་མཐོང་བྱེད། (AppJail:%%PROFILE%%)
Name[el]=Προβολή εγγράφων (AppJail:%%PROFILE%%)
Name[en_CA]=Document Viewer (AppJail:%%PROFILE%%)
Name[en_GB]=Document Viewer (AppJail:%%PROFILE%%)
Name[en@shaw]=𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑 𐑝𐑿𐑼 (AppJail:%%PROFILE%%)
Name[eo]=Dokumentmontrilo (AppJail:%%PROFILE%%)
Name[es]=Visor de documentos (AppJail:%%PROFILE%%)
Name[et]=Dokumendinäitaja (AppJail:%%PROFILE%%)
Name[eu]=Dokumentu-ikustailea (AppJail:%%PROFILE%%)
Name[fa]=نمایشگر سند (AppJail:%%PROFILE%%)
Name[fi]=Asiakirjakatselin (AppJail:%%PROFILE%%)
Name[fr]=Visionneur de documents (AppJail:%%PROFILE%%)
Name[fur]=Visualizadôr di Documents (AppJail:%%PROFILE%%)
Name[ga]=Amharcán Cáipéisí (AppJail:%%PROFILE%%)
Name[gd]=Sealladair sgrìobhainnean (AppJail:%%PROFILE%%)
Name[gl]=Visor de documentos (AppJail:%%PROFILE%%)
Name[gu]=દસ્તાવેજ દર્શક (AppJail:%%PROFILE%%)
Name[he]=מציג מסמכים (AppJail:%%PROFILE%%)
Name[hi]=दस्तावेज़ दर्शक (AppJail:%%PROFILE%%)
Name[hr]=Preglednik dokumenata (AppJail:%%PROFILE%%)
Name[hu]=Dokumentummegjelenítő (AppJail:%%PROFILE%%)
Name[id]=Penampil Dokumen (AppJail:%%PROFILE%%)
Name[ie]=Visor de documentes (AppJail:%%PROFILE%%)
Name[is]=Skjalaskoðari (AppJail:%%PROFILE%%)
Name[it]=Visualizzatore documenti (AppJail:%%PROFILE%%)
Name[ja]=ドキュメントビューアー (AppJail:%%PROFILE%%)
Name[ka]=დოკუმენტების მნახველი (AppJail:%%PROFILE%%)
Name[kab]=Amsenqad n yisemliyen (AppJail:%%PROFILE%%)
Name[kk]=Құжаттарды көрсету қолданбасы (AppJail:%%PROFILE%%)
Name[km]=កម្មវិធី​មើល​ឯកសារ (AppJail:%%PROFILE%%)
Name[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ (AppJail:%%PROFILE%%)
Name[ko]=문서 보기 (AppJail:%%PROFILE%%)
Name[ks]=कागजात वुछनुक (AppJail:%%PROFILE%%)
Name[ku]=Nîşanderê Belgeyan (AppJail:%%PROFILE%%)
Name[lt]=Dokumentų peržiūros programa (AppJail:%%PROFILE%%)
Name[lv]=Dokumentu skatītājs (AppJail:%%PROFILE%%)
Name[mai]=दस्ताबेज प्रदर्शक (AppJail:%%PROFILE%%)
Name[mg]=Mpaneho tahirin-kevitra (AppJail:%%PROFILE%%)
Name[mjw]=Document kelang-ason (AppJail:%%PROFILE%%)
Name[mk]=Прегледувач за документи (AppJail:%%PROFILE%%)
Name[ml]=രേഖാദര്‍ശിനി (AppJail:%%PROFILE%%)
Name[mn]=Баримт бичиг үзүүлэгч (AppJail:%%PROFILE%%)
Name[mr]=दस्तऐवज दर्शक (AppJail:%%PROFILE%%)
Name[ms]=Pelihat Dokumen (AppJail:%%PROFILE%%)
Name[my]=ဖိုင်မြင်ကွင်း (AppJail:%%PROFILE%%)
Name[nb]=Dokumentvisning (AppJail:%%PROFILE%%)
Name[nds]=Dokumentkieker (AppJail:%%PROFILE%%)
Name[ne]=कागजात दृश्यक (AppJail:%%PROFILE%%)
Name[nl]=Documentweergave (AppJail:%%PROFILE%%)
Name[nn]=Dokumentframsynar (AppJail:%%PROFILE%%)
Name[oc]=Visionador de documents (AppJail:%%PROFILE%%)
Name[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ (AppJail:%%PROFILE%%)
Name[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ (AppJail:%%PROFILE%%)
Name[pl]=Przeglądarka dokumentów (AppJail:%%PROFILE%%)
Name[ps]=لاسوند ليدانی (AppJail:%%PROFILE%%)
Name[pt]=Visualizador de documentos (AppJail:%%PROFILE%%)
Name[pt_BR]=Visualizador de documentos (AppJail:%%PROFILE%%)
Name[ro]=Vizualizator de documente (AppJail:%%PROFILE%%)
Name[ru]=Просмотр документов (AppJail:%%PROFILE%%)
Name[si]=ලේඛන දසුන (AppJail:%%PROFILE%%)
Name[sk]=Prehliadač dokumentov (AppJail:%%PROFILE%%)
Name[sl]=Pregledovalnik dokumentov (AppJail:%%PROFILE%%)
Name[sq]=Shikues dokumentesh (AppJail:%%PROFILE%%)
Name[sr]=Прегледач докумената (AppJail:%%PROFILE%%)
Name[sr@latin]=Pregledač dokumenata (AppJail:%%PROFILE%%)
Name[sv]=Dokumentvisare (AppJail:%%PROFILE%%)
Name[ta]=ஆவண காட்டி (AppJail:%%PROFILE%%)
Name[te]=పత్ర వీక్షకం (AppJail:%%PROFILE%%)
Name[tg]=Муштарии ҳуҷҷат (AppJail:%%PROFILE%%)
Name[th]=โปรแกรมดูเอกสาร (AppJail:%%PROFILE%%)
Name[tr]=Belge Görüntüleyici (AppJail:%%PROFILE%%)
Name[ug]=پۈتۈك كۆرگۈ (AppJail:%%PROFILE%%)
Name[uk]=Переглядач документів (AppJail:%%PROFILE%%)
Name[vi]=Xem tài liệu (AppJail:%%PROFILE%%)
Name[wa]=Håyneu di documints (AppJail:%%PROFILE%%)
Name[zh_CN]=文档查看器 (AppJail:%%PROFILE%%)
Name[zh_HK]=文件檢視器 (AppJail:%%PROFILE%%)
Name[zh_TW]=文件檢視器 (AppJail:%%PROFILE%%)
Name[zu]=Isibuki samadokhumende (AppJail:%%PROFILE%%)
Name=Document Viewer (AppJail:%%PROFILE%%)
Comment[af]=Bekyk multibladsydokumente
Comment[an]=Veyer documentos multipachina
Comment[ar]=اعرض المستندات متعددة الصفحات
Comment[as]=বহু-পৃষ্ঠা দস্তাবেজসমূহ দৰ্শন কৰক
Comment[ast]=Ver documentos multipáxina
Comment[be]=Прагляд шматстаронкавых дакументаў
Comment[bg]=Преглед на документи с много страници
Comment[bn]=বহুপৃষ্ঠা সম্বলিত নথি প্রদর্শন
Comment[bn_IN]=একাধিক পৃষ্ঠাবিশিষ্ট ডকুমেন্ট দেখুন
Comment[bs]=Pregledajte višestranične dokumente
Comment[ca]=Visualitzeu documents multipàgina
Comment[ca@valencia]=Visualitzeu documents multipàgina
Comment[cs]=Zobrazovat dokumenty po více stránkách
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[en_CA]=View multi-page documents
Comment[en_GB]=View multi-page documents
Comment[en@shaw]=𐑝𐑿 𐑥𐑩𐑤𐑑𐑰-𐑐𐑱𐑡 𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑𐑕
Comment[eo]=Montri mult-paĝajn dokumentojn
Comment[es]=Vea documentos de varias páginas
Comment[et]=Mitmeleheküljeliste dokumentide vaatamine
Comment[eu]=Ikusi orrialde anitzeko dokumentuak
Comment[fa]=نمایش سندهای چند صفحه‌ای
Comment[fi]=Katsele monisivuisia asiakirjoja
Comment[fr]=Afficher des documents multipages
Comment[fur]=Mostre documents multi-pagjine
Comment[gd]=Seall sgrìobhainnean le iomadh duilleag
Comment[gl]=Ver documentos de varias páxinas
Comment[gu]=ઘણા-પાનાનાં દસ્તાવેજો જુઓ
Comment[he]=הצגת מסמכים מרובי עמודים
Comment[hi]=बहु-पृष्ठीय दस्तावेज़ देखें
Comment[hr]=Pregled višestraničnih dokumenata
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[id]=Lihat dokumen halaman banyak
Comment[ie]=Vider documentes con mult págines
Comment[is]=Skoða margsíðna skjöl
Comment[it]=Visualizza documenti multi-pagina
Comment[ja]=複数ページのドキュメントを表示します
Comment[ka]=მრავალგვერდიანი დოკუმენტების ჩვენება
Comment[kab]=Sken isemli s isebtaren iggten
Comment[kk]=Көппарақты құжаттарды қарау
Comment[km]=មើល​ឯកសារ​មាន​ច្រើន​ទំព័រ
Comment[kn]=ಬಹು-ಪುಟದ ದಸ್ತಾವೇಜನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=다중 페이지 문서를 봅니다
Comment[ku]=Belgeyên pir-rûpelî nîşan bide
Comment[lt]=Peržiūrėti kelių puslapių dokumentams
Comment[lv]=Skatīt dokumentus, kas sastāv no vairākām lappusēm
Comment[mk]=Прегледај документи со повеќе страници
Comment[ml]=അനവധി പേജുകളുളള രേഖ കാണുക
Comment[mn]=Олон хуудаст баримт бичиг үзэх
Comment[mr]=अनेक-पाने दस्तऐवजांचे दृष्य
Comment[ms]=Lihat dokumen halaman-berbilang
Comment[my]=စာမျက်နှာစုံ ဖိုင်မြင်ကွင်း
Comment[nb]=Vis dokumenter med mange sider
Comment[ne]=बहु पृष्ठ कागजात हेर्नुहोस्
Comment[nl]=Documenten weergeven
Comment[nn]=Vis dokument med mange sider
Comment[oc]=Afichar de documents multipaginas
Comment[or]=ଏକାଧିକ ପ୍ରୁଷ୍ଠା ବିଶିଷ୍ଟ ଦଲିଲଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਬਹੁ-ਸਫ਼ਾ ਦਸਤਾਵੇਜ਼ਾਂ ਨੂੰ ਵੇਖੋ
Comment[pl]=Wyświetlanie wielostronicowych dokumentów
Comment[pt]=Ver documentos multipáginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ro]=Vizualizați documente cu mai multe pagini
Comment[ru]=Просмотр многостраничных документов
Comment[sk]=Prezerá dokumenty s viacerými stránkami
Comment[sl]=Poglejte večstranske dokumente
Comment[sr]=Прегледајте вишестраничне документе
Comment[sr@latin]=Pregledajte višestranične dokumente
Comment[sv]=Visa dokument med flera sidor
Comment[ta]=பல பக்க ஆவணங்களை பார்வையிடு
Comment[te]=బహుళ-పుట పత్రాలను వీక్షించు
Comment[tg]=Намоиши ҳуҷҷатҳои бисёрсаҳимфагӣ
Comment[th]=ดูเอกสารแบบหลายหน้า
Comment[tr]=Çok sayfalı belgeleri göster
Comment[ug]=كۆپ بەتلىك پۈتۈكلەرنى كۆرۈش
Comment[uk]=Перегляд багатосторінкових документів
Comment[vi]=Xem nhiều trang tài liệu
Comment[zh_CN]=查看多页文档
Comment[zh_HK]=顯示多頁文件
Comment[zh_TW]=顯示多頁文件
Comment[zu]=Buka amadokhumende wamakhasi amaningi
Comment=View multi-page documents
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=pdf;ps;postscript;dvi;xps;djvu;tiff;;document;presentation;viewer;evince;дакумент;прэзентацыя;праглядальнік;
Keywords[bg]=документ;презентация;преглед;виждане;визуализация;показване;евинс;pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[ca]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentació;visualitzador;evince;
Keywords[cs]=pdf;ps;postscript;postskript;dvi;xps;djvu;tiff;dokument;prezentace;prohlížeč;evince;
Keywords[da]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;præsentation;fremviser;evince;
Keywords[de]=pdf;ps;postscript;dvi;xps;djvu;tiff;Dokument;Präsentation;Betrachter;Evince;
Keywords[el]=pdf;ps;postscript;dvi;xps;djvu;tiff;έγγραφο;παρουσίαση;εφαρμογή προβολής;document;presentation;viewer;evince;
Keywords[en_GB]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[eo]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumento;prezentaĵo;montrilo;evince;evinco;
Keywords[es]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;evince;
Keywords[eu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentua;aurkezpena;ikustailea;evince;
Keywords[fa]=سند;ارائه;نوشتار;pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[fi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;asiakirja;katselin;esitys;
Keywords[fr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;présentation;visionneur;visualiseur;evince;
Keywords[fur]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentazion;visualizadôr;evince;
Keywords[gl]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;evince;
Keywords[he]=‏pdf;ps;פוסטסקריפט;dvi;xps;djvu;tiff;מסמך;מצגת;מציג;evince;
Keywords[hi]=pdf;ps;पोस्टस्क्रिप्ट;dvi;xps;djvu;tiff;दस्तावेज़;प्रस्तुतीकरण;दर्शक;evince;
Keywords[hr]=pdf;ps;postskripta;dvi;xps;djvu;tiff;dokument;prezentacija;preglednik;evince;
Keywords[hu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentum;prezentáció;nézegető;evince;
Keywords[id]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;presentasi;peninjau;evince;
Keywords[ie]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;visor;evince;
Keywords[is]=pdf;ps;postscript;dvi;xps;djvu;tiff;skjal;kynning;skoðari;evince;
Keywords[it]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentazione;visualizzatore;evince;
Keywords[ja]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;ポストスクリプト;ドキュメント;文書;プレゼンテーション;ビューアー;
Keywords[ka]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[kab]=pdf;ps;postscript;dvi;xps;djvu;tiff;isemli;asemnid;amsenqad;evince;
Keywords[kk]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;құжат;презентация;көрсету;
Keywords[ko]=pdf;ps;postscript;포스트스크립트;dvi;xps;djvu;tiff;document;문서;presentation;프리젠테이션;viewer;뷰어;보기;evince;에빈스;
Keywords[lt]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentas;prezentacija;žiūryklė;evince;
Keywords[lv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokuments;prezentācija;skatītājs;evince;
Keywords[mjw]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[ms]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;persembahan;pelihat;evince;
Keywords[my]=ပီဒီအက်ဖ်;ပို့စ်စခရစ်;ဒီဗွီအိုင်;အိပ်စ်ပီအက်စ်;ဒီဂျေဗွီယူ;တီအိုင်အက်ဖ်အက်ဖ်;မှတ်တမ်းစာအုပ်;တင်ပြပုံနှိပ်မူ;ကြည့်ရှုကိရိယာ;အီးဗင့်စ်;
Keywords[nb]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentasjon;visning;evince;
Keywords[ne]=पीडीएफ;पीएस;पोस्टस्क्रिप्ट;डीवीआई;एक्सपीएस;डीजेवीयू;टी आईएफएफ; कागजात; प्रस्तुति;दर्शक; इभिन्स;
Keywords[nl]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;presentatie;viewer;weergave;evince;
Keywords[oc]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentacion;evince;visionador;visualizaire;visualizaira;visualizador;visualizadora;
Keywords[pa]=ਪੀਡੀਐਫ;ਪੋਸਟਸਕ੍ਰਿਪਟ;ਡੀਵੀਆਈ;ਦਸਤਾਵੇਜ਼;ਪਰਿਜੈਂਟੇਸ਼ਨ;ਪੋਸਟ-ਸਕ੍ਰਿਪਟ;ਡੌਕੂਮੈਂਟ;ਈਵੈਨਸ;ਇਵੈਂਸ;ਈਵੈਂਸ;ਦਰਸ਼ਕ;ਐਕਸਪੀਐਸ;ਪੇਸ਼ਕਾਰੀ;
Keywords[pl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentacja;przeglądarka;evince;
Keywords[pt]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;apresentação;visualizador; evince;
Keywords[pt_BR]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentation;apresentação;viewer;visualizador,visualização;evince;
Keywords[ro]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;prezentare;vizualizator;evince;
Keywords[ru]=pdf;ps;postscript;dvi;xps;djvu;tiff;документ;презентация;просмотр;evince;
Keywords[sk]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentácia;prehliadač;prezerač;evince;
Keywords[sl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;predstavitev;pregledovalnik;evince;
Keywords[sr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;пдф;пс;пост-скрипт;дви;икспс;дежави;тифф;документ;презентација;приказивање;евинс;dokument;prezentacija;prikazivanje;evins;
Keywords[sr@latin]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;pdf;ps;post-skript;dvi;iksps;dežavi;tiff;dokument;prezentacija;prikazivanje;evins;dokument;prezentacija;prikazivanje;evins;
Keywords[sv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentation;visare;bläddrare;evince;
Keywords[th]=pdf;ps;โพสต์สคริปต์;dvi;xps;djvu;tiff;เอกสาร;งานนำเสนอ;โปรแกรมดู;evince;
Keywords[tr]=pdf;ps;postscript;dvi;xps;djvu;tiff;belge;sunum;görüntüleyici;evince;
Keywords[uk]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;документ;презентація;перегляд;евінс;
Keywords[vi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;tài liệu;tai lieu;presentation;trình diễn;trinh dien;viewer;xem;evince;
Keywords[zh_CN]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;文档;演示;幻灯;查看器;
Keywords[zh_TW]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;文件;簡報;檢視器;
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
TryExec=x11appjail
Exec=%%EXEC%% %u
StartupNotify=true
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=%%ICON%%
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=application/vnd.comicbook-rar;application/vnd.comicbook+zip;application/x-cb7;application/x-cbr;application/x-cbt;application/x-cbz;application/x-ext-cb7;application/x-ext-cbr;application/x-ext-cbt;application/x-ext-cbz;application/pdf;application/x-bzpdf;application/x-ext-pdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;application/x-ext-eps;application/x-ext-ps;image/x-bzeps;image/x-eps;image/x-gzeps;image/tiff;application/oxps;application/vnd.ms-xpsdocument;application/illustrator;
Actions=new-window;

[Desktop Action new-window]
Name[be]=Новае акно
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf barcon
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[ie]=Nov fenestre
Name[is]=Nýr gluggi
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[my]=ဝင်းဒိုးအသစ်
Name[nb]=Nytt vindu
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Создать окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Створити вікно
Name[vi]=Cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=%%EXEC%% --new-window
