[Desktop Entry]
Name=Telegram (AppJail:%%PROFILE%%)
Comment=New era of messaging
TryExec=x11appjail
Exec=%%EXEC%% -- %U
Icon=%%ICON%%
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=%%EXEC%% -quit
Name=Quit Telegram
Icon=application-exit
